.App {
  font-family: sans-serif;
  text-align: center;
}

.dropdown-menu .dropdown-item .nav-link {
  color: black;
}
.makeStyles-tstmnl-4 .slick-slide img {
  margin: auto;

  text-align: center;
}

.cntr_img .slick-slide img {
  margin: auto;

  text-align: center;
}
